nav {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 100px;
  flex-wrap: wrap;
  z-index: 2;
}

h1 {
  text-decoration: underline;
}

a {
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}

a:hover {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}
