<h1>Emotes!</h1>
<p>
  These emotes were all commissioned from
  <a
    href="https://instagram.com/starfazers"
    target="_blank"
    rel="noopener noreferrer"
    >Starfazers</a
  >.
</p>
<div class="grid-container">
  <div class="grid-box" *ngFor="let emote of emoteList">
    <a href="../../assets/emotes/{{ emote.fileName }}" target="_blank"
      ><img
        class="grid-image emote-image"
        src="../../assets/emotes/{{ emote.fileName }}"
    /></a>
    <hr />
    <p>
      <em class="art-name">{{ emote.emoteName }}</em>
    </p>
  </div>
</div>
