.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.grid-box {
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #3a3240;
  border-radius: 10px;
  padding: 10px 0px;
}

.grid-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
