<h1>Who is Becca?</h1>
<p>
  Becca was a character I created many years ago. I used her for Dungeons and
  Dragons, RPGs, and more. Now she also serves as branding for this project!
</p>
<p>You can read more about her with the links below.</p>
<ul>
  <li>
    <a routerLink="/bio">Becca's Biography</a>
  </li>
  <li>
    <a routerLink="/gallery">Art of Becca</a>
  </li>
  <li>
    <a routerLink="/adventures">Becca's game adventures</a>
  </li>
  <li>
    <a routerLink="/emotes">Becca-themed emotes</a>
  </li>
</ul>
