main p {
  font-size: 16px;
}

body {
  color: #aea8d3;
  margin-left: 110px;
}

main {
  margin-left: 110px;
  padding: 20px;
  border-radius: 25px;
}

body::before {
  content: "";
  background: url(./assets/Moonlight.png);
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

nav {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 5px solid #aea8d3;
  height: 100vh;
  word-wrap: break-word;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.8);
}

nav::-webkit-scrollbar {
  width: 0px;
}

html {
  --scrollbarBG: #3a3240;
  --thumbBG: #aea8d3;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

a {
  color: inherit;
  position: relative;
  font-weight: bold;
}

a:hover {
  color: white;
  background-color: #3a3240;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
  body {
    margin-left: 0;
  }
}

ul {
  list-style-type: "💜 ";
}

li {
  margin-bottom: 10px;
}
