<h1>Becca Lyria</h1>
<div class="grid">
  <p>Becca Lyria is a community management and moderation bot for Discord.</p>
  <img
    class="avatar"
    src="https://cdn.nhcarrigan.com/content/avatars/becca.png"
    alt="Becca's avatar"
  />
  <img src="../../assets/screens/mod-history.png" alt="Moderation history" />
  <p>
    She offers many features, such as the ability to track moderation history
    for your users...
  </p>
  <p>Extensive and highly configurable logging...</p>
  <img src="../../assets/screens/logging.png" alt="Logging Configuration" />
  <img src="../../assets/screens/config.png" alt="Configuration" />
  <p>Multiple customisation options...</p>
  <p>And more! And all of Becca's features are 100% free!</p>
  <img src="../../assets/screens/automod.png" alt="Automoderation Settings" />
  <p>
    <a
      class="custom-button"
      href="https://invite.beccalyria.com"
      target="_blank"
    >
      Add to Server
    </a>
  </p>
  <p>
    <a class="custom-button" href="https://docs.beccalyria.com" target="_blank">
      Documentation
    </a>
  </p>
</div>
